{% extends 'base.html.twig' %}

{% block title %}Versioning{% endblock %}

{% block body %}
    <h1>Versioning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ versioning.id }}</td>
            </tr>
            <tr>
                <th>Repository</th>
                <td>{{ versioning.repository }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ versioning.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ versioning.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_versioning_index') }}">back to list</a>

    <a href="{{ path('admin_versioning_edit', {'id': versioning.id}) }}">edit</a>

    {{ include('admin_versioning/_delete_form.html.twig') }}
{% endblock %}
